<div class="container-fluid">
     <h1>{{title}} <span>{{subtitle}}</span></h1>

     <table class="table-list">
          <thead>
               <tr>
                    <th>Change</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>Owner</th>
                    <th>Updated</th>
               </tr>
          </thead>
          <tbody>
               <tr ng-repeat="change in changes">
                    <td><a ui-sref="app.change({change_number: change.number})">{{change.number}}</a></td>
                    <td><a ui-sref="app.change({change_number: change.number})">{{change.commitMessage | first_line}}</a></td>
                    <td>{{change.status}}</td>
                    <td>{{change.owner.name}}</td>
                    <td>{{change.lastUpdate * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
               </tr>
          </tbody>
          <tfoot>
               <tr>
                    <td colspan="5">
                         <pagination></pagination>
                    </td>
               </tr>
          </tfoot>
     </table>
</div>