<!--<div class="pre">{{comment_text}}</div>-->
<tr ng-if="!skip">
    <th>
        {{author.name}} {{result.pipeline}}
        <span class="badge-{{verified.class}}" ng-if="verified">{{verified.input}}</span>
        - <span class="" ng-class="[{'badge-danger': result.build_result.toLowerCase() == 'failed'}, {'badge-success': result.build_result.toLowerCase() != 'failed'}]">{{result.build_result}}</span>
    </th>
    <th>{{eventCreatedOn * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</th>
</tr>

<tr ng-if="!skip" ng-repeat="ci in ci_list">
    <td>
        <a href="{{ci.link}}" target="_blank">{{ci.name}}</a>
    </td>
    <td>
        <label class="badge-{{ci.class}}">{{ci.result}}</label>
        {{ci.extra}}
    </td>
</tr>
