html {
    overflow-y: scroll;
}
html, body {
    font-family: Arial;
    height: 100%;
    background: #e9ecf3;
    font-size: 12px;
}
h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
}

h2 span {
    font-size: 70%;
    font-style: italic;
}

a {
    color:#3B3F51;
}

#wrap {
    height:100%;
}

.header {
    height:50px;
    background: #3B3F51;
    color: #fff;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.content_weapper {
    padding-top: 50px;
}

.page-header {
    position: fixed;
    z-index: 3;
    top:0;
    color: #fff;
}

.page-header h2 {
    margin-top: 18px;
    margin-bottom: 18px;
}

.page-header .toolbar {
    float: right;
    padding: 18px 0;
}

.page-header .toolbar .search {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.page-header .toolbar .search .clear-search, .page-header .toolbar .search .placeholder {
    position: absolute;
    right: 10px;
    top: 6px;
    color: #000;
}

.content {
    overflow: hidden;
    position: relative;
    min-height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content h1 {
    margin-top: 0;
}

.box {
    background: #fff;
    padding: 15px;
    margin-bottom: 30px;
}

.table-list {
    width: 100%;
}

.table-list td , .table-list th {
    border: 1px solid #f4f4f4;
    padding: 3px 20px;
}

.form-control {
    height: 30px;
    font-size: 12px;
    padding: 2px 12px;
}

.form-control-label {
    padding: 0.5rem 1rem;
    line-height: 1.5;
    margin-bottom: 0;
    display: block;
    text-align: right;
}

.form-group {
    margin-bottom: 10px;
}

.exchange_rates {
    background: #5b9bd1;
    margin-top: -30px;
    padding: 15px;
    color:#fff;
}

.exchange_rates h4 {
    font-size: 14px;
}

#side-menu {
    list-style: none;
    padding:0;
    text-align: right;
    margin-bottom: 0;
}

#side-menu li {
    display: inline-block;
}

#side-menu li a {
    color: #fff;
    padding: 14px 24px;
    display: block;

}

#side-menu li a:hover, #side-menu li a:active, #side-menu li a:focus {
    text-decoration: none;
}

#side-menu li.active {
    color: #5b9bd1;
    background: #f2f6f9;
}

#side-menu li.active > a {
    color: #5b9bd1;
}

.overview_table td {
    width: 50%;
}

#side-menu .nav-second-level {
    padding-left: 24px;
}

label.filter-label {
    display: block;
    padding: 5px 0px;
    margin: 0;
}

.paginate {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table-list thead tr th {
    border: none;
    border-bottom: 1px solid #3B3F51;
    color: #3B3F51;
    font-size: 13px;
    font-weight: normal;
}

.table-list tbody tr:nth-of-type(odd) {
    background: #e7ecf1;
}

.table-list tbody tr:hover {
    background: #f2f6f9;
}

.table-list tfoot tr td {
    border: none;
    border-bottom: 1px solid #3B3F51;
    border-top: 1px solid #3B3F51;
    color: #3B3F51;
}
.table-list tfoot tr td h3 {
    margin: 0;
}

/* BUTTONS */

.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default.active, .btn-default:active, .btn-default:hover, .open>.btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-success {
    color: #fff;
    background-color: #36c6d3;
    border-color: #2bb8c4;
}

.btn-success.active, .btn-success:active, .btn-success:hover, .open>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #27a4b0;
    border-color: #208992;
}

.btn-info {
    color: #fff;
    background-color: #659be0;
    border-color: #508edb;
}

.btn-info.active, .btn-info:active, .btn-info:hover, .open>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #3a80d7;
    border-color: #286ec5;
}

.btn-warning {
    color: #fff;
    background-color: #F1C40F;
    border-color: #dab10d;
}

.btn-warning.active, .btn-warning:active, .btn-warning:hover, .open>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #c29d0b;
    border-color: #a08209;
}

.btn-danger {
    color: #fff;
    background-color: #ed6b75;
    border-color: #ea5460;
}

.btn-danger.active, .btn-danger:active, .btn-danger:hover, .open>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #e73d4a;
    border-color: #e31d2d;
}

.btn.btn-red:not(.btn-outline) {
    color: #fff;
    background-color: #e7505a;
    border-color: #e7505a;
}

.btn.btn-red:not(.btn-outline).active, .btn.btn-red:not(.btn-outline):active, .btn.btn-red:not(.btn-outline):hover, .open>.btn.btn-red:not(.btn-outline).dropdown-toggle {
    color: #fff;
    background-color: #e12330;
    border-color: #dc1e2b;
}

.btn.btn-blue:not(.btn-outline) {
    color: #FFF;
    background-color: #3598dc;
    border-color: #3598dc;
}

.btn.btn-blue:not(.btn-outline).active, .btn.btn-blue:not(.btn-outline):active, .btn.btn-blue:not(.btn-outline):hover, .open>.btn.btn-blue:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #217ebd;
    border-color: #1f78b5;
}

.btn.btn-green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}

.btn.btn-green:not(.btn-outline).active, .btn.btn-green:not(.btn-outline):active, .btn.btn-green:not(.btn-outline):hover, .open>.btn.btn-green:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #26a1ab;
    border-color: #2499a3;
}

.btn.btn-yellow:not(.btn-outline) {
    color: #fff;
    background-color: #c49f47;
    border-color: #c49f47;
}

.btn.btn-yellow:not(.btn-outline).active, .btn.btn-yellow:not(.btn-outline):active, .btn.btn-yellow:not(.btn-outline):hover, .open>.btn.btn-yellow:not(.btn-outline).dropdown-toggle {
    color: #fff;
    background-color: #a48334;
    border-color: #9c7c32;
}

.btn.btn-purple:not(.btn-outline) {
    color: #fff;
    background-color: #8E44AD;
    border-color: #8E44AD;
}

.btn.btn-purple:not(.btn-outline).active, .btn.btn-purple:not(.btn-outline):active, .btn.btn-purple:not(.btn-outline):hover, .open>.btn.btn-purple:not(.btn-outline).dropdown-toggle {
    color: #fff;
    background-color: #703688;
    border-color: #6a3381;
}

.btn.btn-dark:not(.btn-outline) {
    color: #FFF;
    background-color: #2f353b;
    border-color: #2f353b;
}

.btn.btn-dark:not(.btn-outline).active, .btn.btn-dark:not(.btn-outline):active, .btn.btn-dark:not(.btn-outline):hover, .open>.btn.btn-dark:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #181c1f;
    border-color: #141619;
}
/* BUTTONS */

ul.pagination {
    float: right;
}

.page-link {
    position: relative;
    float: left;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    color: #3B3F51;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.page-link:hover {
    text-decoration: none;
}

.box .box-heading {
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;

    background: #5b9bd1;
    color:#fff;
    padding: 15px;
    font-weight: 500;

}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover {
    background: #5b9bd1;
    border-color: #5b9bd1;
}

.form-control-small {
    width: 60px;
}

.form-control-medium {
    width: 120px !important;
}

.pre {
    white-space: pre;
}

.badge-success {
    color: #2bb8c4;
}

.badge-danger {
    color: #ed6b75;
}

.holder {
    /*position: relative;*/
}

.thead_row {
    min-width: 100px;
    width: auto !important;
    width: 100px;
}

/*.table-holder .thead {
    position: absolute;
    top: auto; left:400px;
}

.table-holder .thead .change_left {
    left: -400px;
}*/

.tbody_row > div, .patchset-content {
    float: left;
    height: 25px;
}

.thead_row > div {
    height: 40px;
    float: left;
}

.thead_row:after, .tbody_row:after {
    content: "";
    display: table;
    clear: both;
}

.change_left {
    width: 400px;
    border: 1px solid #ccc;
    border-top: none;
    padding: 3px 5px;
    position: absolute;
    left:30px;
    top: auto;
    background: #fff;
    z-index: 2;
    cursor: pointer;
}

.table-holder, .table-holder .thead, .table-holder .thead .thead_row {
    box-sizing: content-box;
}

.table-holder .thead .thead_row:first-child > div {
    border-top: 1px solid #ccc;
}

.patchset-header, .change-header, .patchset-content {
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    padding: 3px 2px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    position: relative;
    overflow: hidden;
}

.tbody_row.author_row {
    font-weight: bold;
}

.table-holder {
    margin-left: 400px;
    /*margin-top: 50px;*/
}

.ci_result {
    position: absolute;
    top: 0;
    bottom: 0; left:0; right:0;
}
.ci_result .fraction {
    float:left;
    height: 25px;
}

.fraction.fraction-success {
    background: #1BBC9B;
}

.hovered .fraction.fraction-success {
    background: #158f76;
}

.fraction.fraction-fail {
    background: #E26A6A;
}

.hovered .fraction.fraction-fail {
    background: #da3f3f;
}

.fraction.fraction-other {
    background: #95A5A6;
}

.hovered .fraction.fraction-other {
    background: #798d8f;
}

.change_left.hovered, .patchset-header.hovered, .change-header.hovered {
    background: #e9e9e9;
}

.table-holder .thead.fixed {
    position: fixed;
    top: 50px;
    z-index: 5;
    width: 100%;
}

.table-holder .thead.fixed > div {
    background: #fff;
}

.table-holder .thead.fixed .change_left {
    position: fixed;
    left: 30px;
}

.sidepatch {

}
.sidepatch .left {
    position: fixed; top: 50px;
    left: 0;
    border-left: 15px solid #e9ecf3;
    border-right: 16px solid #fff;
    z-index: 6;
    height: 100px;
}

.sidepatch .right {
    position: fixed; top: 50px;
    right: 0;
    border-right: 15px solid #e9ecf3;
    border-left: 15px solid #fff;
    z-index: 6;
    height: 100px;
}



.holder.scrolling {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loader {
    position: fixed;
    left: 50%;
    top: 80px;
    background: #ed6b75;
    color:#fff;
    z-index: 200;
    line-height: 30px;
    vertical-align: middle;
}

.loader span {
    display: inline-block;
    padding: 0 20px;
}

.change_left.selected {
    background: rgb(188, 170, 115);
}

.scroll-holder {
    position: fixed;
    bottom: 0;
    height: 30px;
    left: 30px;
    right: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 30;
}

.panel-heading {
    position: relative;
}

.collapser {
    position: absolute;
    top: 10px;
    right: 10px;
}

.ci-list {
    padding:0;
    margin: 0;
    list-style: none;
    margin-bottom: 15px;
}

.ci-list li {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.ci-list li .author-name {
    line-height: 22px;
    display: inline-block;
    cursor: move;
}

.dropdown-menu {
    font-size: 12px;
}

.dropdown-menu li {
    cursor: pointer;
}

.well {
    background: #fff;
    box-shadow: none;
    border-radius: 0;
}

.uib-datepicker .btn-default {
    background: #fff;
    border-radius: 0;
}

.uib-datepicker .btn.btn-info.active {
    background: #269abc;
}

.uib-datepicker td .btn {
    border:none;
}

.uib-datepicker td[role=gridcell] {
    border: 1px solid #ccc;
}

.uib-datepicker .uib-left, .uib-datepicker .uib-right {
    border: none;
}
.uib-datepicker, .uib-daypicker {
    outline: none;
}

.popover {
    height:auto !important;
    max-width: 600px;
    font-size: 12px;
    font-family: Arial;
}

.popover pre {
    padding: 0; margin: 0;
    border: 0; background: #fff;
    font-size: 12px;
    font-family: Arial;
    max-height: 150px;
    overflow: hidden;
}

.jqtooltip {
    position: absolute;
    z-index: 100;
    background: #fff;
    padding: 10px;
    font-size: 11px;
    width: 270px;
    border-radius: 3px;
    border:1px solid #ccc;
    opacity: 0;
}

.jqtooltip p:last-child {
    margin-bottom: 0;
}