html, body
  margin 0
  padding 0
  background light-blue
  font-size 12px

  .app-content
    margin-top: 2rem

    h1
      margin-bottom 2rem

  .table
    & th, & td
      padding: .25rem
    th
      border-bottom 1px solid dark-blue
    td
      border-bottom 1px solid white

  .box
    background white
    padding  1rem
    margin-bottom 2rem
