border-color = grey
light-blue = #e9ecf3
dark-blue=#3B3F51
medium-blue=#5b9bd1
fail-red=#E26A6A
success-green=#1BBC9B
abandoned-blue=#cccccc

@import "bootstrap.min.css"
@import "_mixins.styl"
@import "base.styl"
@import "header.styl"
@import "ci_table.styl"